@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Login";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LoginViewModel

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">@ViewBag.Message</div>
}

<div class="container">
    <div class="mt-5 admin-login-form">
        <div class="admin-login-bg">
            <h1 class="text-white text-center mb-5">Admin Login</h1>
            <form asp-action="Dashboard" method="post">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-white">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label text-white">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="submit" class="btn btn-danger">Login</button>
            </form>
        </div>
    </div>
</div>

<p>@ViewBag.Message</p>
