@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Contact";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- home-section -->
<div>
    <div class="container contact-ii">
        <button class="secondary-btn">Contact</button>
        <h1 class="main-title ">
            Inter buzz Software & <br><span class="main-s-txt">
                Media Ready to Help
                you
            </span>
        </h1>
        <p class="p-second-color banner-padding-res">
            Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy
            eirmod
            tempor Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        </p>
    </div>
</div>
            </div>
        </div>
<!-- area 2 -->
<div>
    <div class="bg-black">
        <div class="container home-our-services-section">
            <div class="row align-items-center">
                <!-- Left Content -->
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="content  text-center text-lg-start">
                        <button class="secondary-btn mb-2">Get a Quote</button>
                        <h2 class="main-title">Have Questions? We're Here to Help!</h2>
                        <p class="p-txt p-txt-FFFF">
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor
                            Lorem ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                            diam
                            nonumy eirmod tempor Lorem ipsum dolor sit. Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor Lorem ipsum dolor sit Lorem ipsum
                            dolor
                            sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem ipsum
                            dolor
                            sit
                        </p>
                        <div class="">
                            <div class="row">
                                <div class="col p-txt-FFFF ">
                                    <p class="icon-color-fafa">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        Message Us
                                    </p>
                                    <p>Interbuzzmedia@gmail.com</p>
                                </div>
                                <div class="col p-txt-FFFF">
                                    <p class="icon-color-fafa">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        Call Us
                                    </p>
                                    <p>000-00000000</p>
                                </div>
                            </div>
                            <div>
                                <p class="p-txt-FFFF icon-color-fafa">
                                    <i class="fa fa-map-marker"
                                       aria-hidden="true"></i>
                                    Location
                                </p>
                                <p class="p-txt-FFFF">
                                    Interbuzzmedia, Suite 000, Silicon Valley , 11 00000, USA
                                </p>
                            </div>
                            <p class="p-txt-FFFF icon-color-fafa">Follow Us</p>
                            <div class="social-links">
                                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right Services Grid -->
                <div class="col-lg-6">
                    <div class="contact-form-background">
                        <!-- Form -->
                        <form>
                            <!-- 2 column grid layout with text inputs for the first and last names -->
                            <div class="row mb-4">
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline ">
                                        <label class="form-label text-c" for="form3Example1 ">First name</label>
                                        <input type="text" placeholder=" Ahsaan Khan" id="form3Example1"
                                               class="contact-form-inputs" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label text-c" for="form3Example2">Last name</label>
                                        <input type="text" placeholder=" Enter your last name"
                                               id="form3Example2" class="contact-form-inputs" />
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label text-c" for="form3Example1">
                                            Email
                                            Address
                                        </label>
                                        <input type="text" placeholder=" Enter your email address"
                                               id="form3Example1" class="contact-form-inputs" />
                                    </div>
                                </div>
                                <div class="col">
                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label text-c" for="form3Example2">
                                            Phone
                                            Number
                                        </label>
                                        <input type="text" placeholder=" Enter your phone number"
                                               id="form3Example2" class="contact-form-inputs" />
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label text-c" for="form3Example3">Subject</label><br>
                                <input type="email" placeholder=" Enter the subject of your message"
                                       id="form3Example3" class="contact-form-inputs" />
                            </div>

                            <!-- Password input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label text-c" for="form3Example4">Message</label>
                                <div class="input-group">
                                    <textarea placeholder=" Enter your message here"
                                              class="contact-form-inputs text-message-input"
                                              aria-label="With textarea"></textarea>
                                </div>
                            </div>
                            <button class="main-btn2">Get Started</button>
                        </form>
                        <!-- Form -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-colour-right-top-left-bottom-center"
     style="align-items:center; justify-content: center; display: flex;">
    <div class="faq-container contact-form-background" style="background-color: black;">
        <div class="button-third-wrapper ">
            <button class="third-btn">Mostly Asked Questions</button>
        </div>
        <h2 class="main-title txt-center">Frequently Asked Questions</h2>
        <div class="faq-item">
            <button class="faq-question">
                What services do you offer?
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
            <div class="faq-answer">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem
                ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem ipsum dolor sit Lorem
                ipsum dolor sit amet, consetetur sadipscing elitr,
            </div>
        </div>

        <div class="faq-item">
            <button class="faq-question">
                How can I get a quote?
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
            <div class="faq-answer">
                Contact us through our booking form or call us to discuss your needs and receive a personalized
                quote.
            </div>
        </div>

        <div class="faq-item">
            <button class="faq-question">
                What is your pricing structure?
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
            <div class="faq-answer">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem
                ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem ipsum dolor sit Lorem
                ipsum dolor sit amet, consetetur sadipscing elitr,
            </div>
        </div>

        <div class="faq-item">
            <button class="faq-question">
                Do you offer custom marketing strategies?
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </button>
            <div class="faq-answer">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem
                ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, Lorem ipsum dolor sit
                amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem ipsum dolor sit Lorem
                ipsum dolor sit amet, consetetur sadipscing elitr,
            </div>

            <div class="faq-item">
                <button class="faq-question">
                    How long does it take to see results?
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                <div class="faq-answer">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem
                    ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, Lorem ipsum dolor
                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem ipsum dolor sit
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                </div>
            </div>

            <div class="faq-item">
                <button class="faq-question">
                    Can you help with international marketing?
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </button>
                <div class="faq-answer">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem
                    ipsum dolor sit Lorem ipsum dolor sit amet, consetetur sadipscing elitr, Lorem ipsum dolor
                    sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor Lorem ipsum dolor sit
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                </div>
            </div>

        </div>
    </div>

    <!-- area 2 end-->
</div>