@model Interbuzz_software.Models.ClientModel

@{
    ViewData["Title"] = "EditClient";
}

<div class="container mt-5">
    <h2 class="mb-4 text-white">Edit Blog</h2>
    <form asp-action="EditClient" method="post" enctype="multipart/form-data">
        <!-- Blog Image Upload -->
        <div class="mb-3">
            <label asp-for="ClientProfile" class="form-label text-white">Client Profile</label>
            <input asp-for="ClientProfile" type="file" class="form-control" accept="image/*" />
        </div>

        <!-- Blog Title -->
        <div class="mb-3">
            <label asp-for="ClientName" class="form-label text-white">Client Name</label>
            <input asp-for="ClientName" type="text" class="form-control" placeholder="Enter blog title" />
        </div

        <!-- Blog Title -->
        <div class="mb-3">
            <label asp-for="ClinetJob" class="form-label text-white">Clinet Job</label>
            <input asp-for="ClinetJob" type="text" class="form-control" placeholder="Enter blog title" />
        </div>

        <!-- Blog Description -->
        <div class="mb-3">
            <label asp-for="ClientComment" class="form-label text-white">Client Comment</label>
            <textarea asp-for="ClientComment" class="form-control" rows="4" placeholder="Enter blog description"></textarea>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
